/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

h2 {
    color: #4CAF50;
    /* Green for section headings */
    margin-bottom: 10px;
}

.section {
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

#content h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-top: 20px;
}

#content h2 {
    text-align: center;
    color: #666;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

select {
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

p {
    margin: 10px 0;
}

#steps-buttons button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.step-button.selected {
    background-color: #2e7d32; /* Darker green for the selected button */
}

#best-park-section {
    text-align: center;
}

.recommendations-title {
    color: rgba(2, 65, 37, 0.531); /* Change to your preferred color */
}

#height-input {
    height: 25px;
    margin-top: 15px;
}

/* Nav bar*/
#navbar {
    background-color: #333;
    display: flex;
    justify-content: flex-end; /* Align all items to the right */
    align-items: center; /* Vertically align items */
    padding: 10px 20px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li {
    padding: 10px;
}

#navbar a, #navbar button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}

#navbar a:hover, #navbar button:hover {
    background-color: #575757;
    border-radius: 4px;
}


/* Nav bar*/
#navbar {
    background-color: #333;
    display: flex;
    justify-content: flex-end; /* Align all items to the right */
    align-items: center; /* Vertically align items */
    padding: 10px 20px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li {
    padding: 10px;
}

#navbar a, #navbar button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}

#navbar a:hover, #navbar button:hover {
    background-color: #575757;
    border-radius: 4px;
}


.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


