body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}


#profile-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#profile-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#profile-container p {
    font-size: 1.2em;
    margin: 10px 0;
}

#delete-account-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #ff4d4d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#delete-account-button:hover {
    background-color: #e60000;
}


/* Nav bar*/
#navbar {
    background-color: #333;
    display: flex;
    justify-content: flex-end; /* Align all items to the right */
    align-items: center; /* Vertically align items */
    padding: 10px 20px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li {
    padding: 10px;
}

#navbar a, #navbar button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}

#navbar a:hover, #navbar button:hover {
    background-color: #575757;
    border-radius: 4px;
}


/* Update Name Section */
#update-name-container {
    margin-top: 30px;
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 20px;
}

#update-name-container h2 {
    color: #555759;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#new-name {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}



#update-name-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #436af5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#update-name-button:hover {
    background-color: #0056b3;
}
